<%= stylesheet_link_tag 'under_construction.css', :plugin => :under_construction %>
<%= javascript_include_tag 'under_construction.js', :plugin => :under_construction %>

<% unless @rmp_layout %>
  <% uc_period = UcPeriod.order('begin_date desc').first %>
  <% if uc_period && uc_period.notify %>
    <%= stylesheet_link_tag :rmplus, plugin: :under_construction %>
    <div id="uc_warn_note" class="uc-float-warn I alert alert-warning">
      <div class="rmp-header">
        <table style="width: 100%;">
          <tr>
            <td width="1%"><%= image_tag 'uc-period-white-min.png', plugin: :under_construction %></td>
            <td>
              <h1>
                <%= l(:warning_technical_operations_in_progress) %>
              </h1>
            </td>
            <td width="1%">
              <span class="uc-warn-close"><%= l(:lib_close) %></span>
            </td>
          </tr>
        </table>
      </div>

      <div class="rmp-wrapper">
        <%= render partial: 'uc_periods/under_construction', locals: { uc_period: uc_period } %>
      </div>
    </div>

    <script>
      var uc_warn_hash = '<%= Digest::MD5.hexdigest((uc_period.custom_message.to_s + UcPeriod.last.begin_date.to_i.to_s + UcPeriod.last.end_date.to_i.to_s + UcPeriod.last.updated_at.to_i.to_s).to_s) %>';
    </script>
  <% end %>
<% end %>