<% content_for :header_tags do %>
  <%= stylesheet_link_tag :rmplus, plugin: :under_construction %>
<% end %>

<% content_for :header do %>
  <table style="width: 100%;">
    <tr>
      <td width="1%"><%= image_tag 'old-man.png', plugin: :under_construction %></td>
      <td>
        <h1>
          <p><%= l(:biggest_regret) %></p>
          <%= l(:warning_unsupported_browser_version) %>
        </h1>
      </td>
      <td width="1%">
        <span class="rmp-logo"></span>
      </td>
    </tr>
  </table>
<% end %>

<div class="uc-text-message">
  <div><%= textilizable(Setting.plugin_under_construction['text_message']) %></div>
</div>

<div class="rmp-divider"></div>

<div class="uc-list-browsers">
  <table style="width: 100%;">
    <tr>
      <td>
        <%= link_to 'Chrome', 'https://www.google.ru/chrome/browser/desktop/'%>
      </td>
      <td>
        <%= link_to 'Mozilla Firefox', 'https://www.mozilla.org/ru/firefox/desktop/'%>
      </td>
      <td>
        <%= link_to 'Opera', 'http://www.opera.com/'%>
      </td>
      <td>
        <%= link_to 'Safari', 'http://www.apple.com/ru/safari/'%>
      </td>
      <td>
        <%= link_to 'Яндекс.Браузер', 'https://browser.yandex.ru'%>
      </td>
    </tr>
  </table>
</div>

<div class="rmp-divider"></div>

<div class="uc-responsible-list">
  <% if @users && @users.any? %>
    <% if Redmine::Plugin::registered_plugins.include?(:ldap_users_sync) %>
      <p><%= l(:label_inform_responsible) %></p>
      <% @users.each do |u| %>
        <div class="uc-ask-user">
          <%= show_user_info(u, [:name,:phones,:email]) %>
        </div>
      <% end %>
    <% else %>
      <div class="uc-ask-label"><%= l(:label_ask_for) %>: <%= @users.each { |u| link_to_user(u) }.join(', ').html_safe %></div>
    <% end %>
  <% end %>
</div>
<% rmp_html_title(['Redmine', l(:warning_unsupported_browser_version)]) %>