.admin-menu-under-construction {
    background-image: url(../images/under_construction.png);
}

.admin-menu-browsers-restricitons {
    background-image: url(../images/globe.png);
}

.uc-add-panel {
  margin: 5px 0;
}

.uc-fld-name {
  min-width: 120px;
}

.uc_preview {
  float: right;
  padding-right: 10px;
  background-image: url(../images/preview.png);
}


a.add_controller {
  display: block;
  float: left;
  padding: 0 4px;
  margin-top: 5px;
}

#add_uc_filter td {
  vertical-align: top;
}

.uc-rule-row {
  margin-bottom: 10px;
}

#uc_period_form_preview {
  clear: both;
}

#uc_period_form_preview:empty {
  display: none;
}